@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.containerNew {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 768px) {
.containerNew {
    padding-left: 30px;
    padding-right: 30px;
}
}

.blog-card {
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height: 100%;
}
@media (max-width: 768px) {
    .blog-card {
        margin-bottom: 15px;
        width: 100%;
    }
}
.blog-card:hover {
    transform: scale(1.02);
    transition: 0.4s;
    cursor:pointer;
}
.blog-card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.blog-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 200px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 20px;
}

.tag {
    margin-left: 5px;
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    padding: 2px 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.tag-teal {
    background-color: #bb9c00;
}
.tag-purple {
    background-color: #5e76bf;
}
.tag-pink {
    background-color: #cd5b9f;
}
.tag-blue {
    background-color: #4400cc;
}

.card-body p {
    font-size: 12px;
    margin: 0 0 40px;
}



@media (min-width: 1700px) {
    .containerNew {
        justify-content: center;
    }

    .blog-card {
        margin: 0 20px;
    }
}

