.header-section {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    padding-top: 140px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.title-header {
    font-size: 2.9em;
    color: #ffffff;
    margin-bottom: 10px;
}

.text-header {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.5;
    width: 50%;
}

.small-text-header, .link-to-blog {
    font-weight: 500;
    font-size: 1em;
    color: #676767;
    cursor: pointer;
    text-decoration: none;
}

.small-text-header:hover, .link-to-blog:hover {
    color: #949494;
}

.blog-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.page-section {
    width: 100%;
}
.left-section {
    width: 35%;
    padding-left: 50px;
    padding-right: 10px;
}

.right-section {
    max-width: 70%;
    margin-top: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.left-title {
    margin-bottom: 30px;
}

.left-card {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #e5e5e5;
    cursor: pointer;
    margin-bottom: 15px;
}
.left-card:hover {
    transform: scale(1.02);
    transition: 0.4s;
    box-shadow: 1px 1px 10px #e5e5e5;
    background: #ececec;
}
.left-card-image {
    width: 30%;
    height: 100%;
    border-radius: 20px 5px 5px 20px;
}

.left-card-text-container {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

.left-card-text {
    font-size: 1.05em;
    color: #000000;
    margin: 0 0 5px;
    font-weight: 500;
}

.left-card-small-text {
    position: absolute;
    bottom: 5%;
    right: 5%;
    margin-right: 5px;
    text-align: right;
    font-weight: 550;
    font-size: 0.8em;
    color: #6e6e6e;
    cursor: pointer;
    text-decoration: none;
}

.left-card-small-text:hover {
    color: #000000;
}
.blog-card {
    max-height: 460px;
    margin-bottom: 20px!important;
}
.section-two-recent-post {
    margin-top: 80px;
}

.hidden-button {
    display: none;
}
.hide-section {
    display: none;
}


@media (max-width: 768px) {
    .text-header {
        width: 100%;
    }
    .blog-section {
        padding: 30px 0 !important;
    }
    .right-section {
        max-width: 100% !important;
        padding: 0 40px;
        height: 100%;
    }
    .left-section {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        transition: ease-in-out 0.8s;
        padding-top: 60px;
        padding-left: 10px;
        background: #FFFFFF;
        z-index: 10000;
    }
    .hidden-button {
        display: flex;
        position: absolute;
        margin-top: 150px;
        margin-left: 10px;
        border-radius: 20px;
        padding: 10px 30px;
        background-color: #171717;
        color: #8f9296;
    }
    .hide-section {
        display: flex;
        position: absolute;
        top: 0;
        left: 5%;
        font-weight: 800;
        font-size: 40px;
    }
}