.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(0,105,248);
    background: linear-gradient(45deg, rgba(0,105,248,1) 0%, rgba(21,37,192,1) 50%, rgba(59,12,162,1) 100%);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}
.navbar .logo a span{
    color: #00ffe3;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    cursor: pointer;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
    cursor: pointer;
}
