.cardmbti {
    width: 100%;
    display: flex; /* Използваме flex контейнер */
    justify-content: center; /* Центрираме по хоризонтала */
    align-items: center; /* Центрираме по вертикала */
    gap: 40px;
}

.leftcard {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,244,255,1) 25%, rgba(251,199,255,1) 100%);
    width: 22%; /* По-малка ширина */
    height: 100%; /* Променяме височината на автоматично, за да се побере съдържанието */
    max-height: 580px;
    min-height: 580px;
    border: 1px solid #a8a8a8;
    border-radius: 15px; /* Леко по-малък border-radius */
    overflow: hidden;
    position: relative;
    padding: 20px; /* Добавяме паддинг, за да се раздели съдържанието от ръбовете на контейнера */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.rightcard {
    position: relative;
    border: 1px solid #a8a8a8;
    border-radius: 15px; /* Леко по-малък border-radius */
    overflow: hidden;
    padding: 20px; /* Добавяме паддинг, за да се раздели съдържанието от ръбовете на контейнера */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    top: 0;
    width: 50%;
    height: 100%;
    max-height: 580px;
    min-height: 580px;
}
.rightcard, .leftcard {
    display: inline-block; /* Позволява на двете div елемента да стоят един до друг */
}
.personality {
    font-size: 16px;
    color: #606060;
    font-weight: 550;
    text-align: center;
    margin-bottom: 10px; /* Намаляваме отстъпа отдолу */
}
.type {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px; /* Намаляваме отстъпа отгоре */
    margin-bottom: 10px; /* Увеличаваме отстъпа отдолу */
}
.intj {
    width: 66%;
    display: block;
    margin: 0 auto; /* Центрираме изображението */
}
.textIntj {
    font-size: 16px;
    margin: 10px;
    text-align: justify;
}
.button-34 {
    margin-bottom: 20px;
    background: #5E5DF0;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    opacity: 1;
    outline: none;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border: 0;
    transition: all 0.3s ease;
}
.button-34:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.leftcard .button-34 {
    margin-top: 10px;
    margin-left: 10px;
    float: left; /* Позиционираме бутона в ляво */
}
.progressbar {
    margin: 5px;
    position: relative;
    width: 98%;
    height: 13px;
    border-radius: 30px;
    background: #00ccff;
}
.bartextTwo, .bartextTwoNew {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    display: inline-block;
}
.bartextTwoNew {
    color: #606060;
    font-weight: 500;
    font-size: 16px;
    float: right;
}
.cardBar {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 99%;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.cardBar:hover {
    background-color: #eaeaea;
}

.bartextTwo {
    color: #606060;
    font-weight: 500;
    font-size: 16px;
    float: left;
}
.bardot {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 12px;
    height: 12px;
    border: 3px solid white;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(29,36,50,.15);
}
.progresText {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    position: relative;
    font-size: 17px;
    font-weight: 550;
}
.barTextOne, .barTextOneNew {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    display: inline-block;
}
.barTextOne {
    color: #606060;
    font-weight: 500;
    font-size: 16px;
    float: left;
}
.barTextOneNew {
    color: #606060;
    font-weight: 500;
    font-size: 16px;
    float: right;
}
.titleLeft {
    margin-bottom: 12px;
    margin-top: 0;
    font-weight: 600;
    font-size: 20px;

}
.titleLeftCard {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
}
.procentBar {
    margin: 0;
    display: inline-block;
    float: left;
    width: 57%;
    height: 100%;
}
.specialcardtitlenew {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #656565;
}
.specialBar {
    margin-top: 10px;
    display: inline-block;
    float: left;
    max-height: 440px;
    min-height: 440px;
    width: 36%;
    height: 100%;
    background-color: #eaeaea;
    border-radius: 20px;
}
.specialcardtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.specialimage {
    display: block;
    margin: 0 auto;
    width: 78%;
}
.textSP {
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}
.SPlink {
    bottom: 10%;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4298b4;
    font-weight: 650;
    margin-left: 30px;
    font-size: 16px;
}
.splink:hover {
    text-decoration-line: underline ;
}
.progresNew{
    width: 94%;
}
.carousel-dots {
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.dot {
    display: inline-block;
    width: 10px; /* Ширина на точките */
    height: 10px; /* Височина на точките */
    border-radius: 50%;
    background-color: #bbb; /* Цвят на неактивните точки */
    margin: 0 5px; /* Отстояние между точките */
    cursor: pointer;
}

.dot.active {
    background-color: #333; /* Цвят на активната точка */
}


/* For screens smaller than 600px (phones) */
@media only screen and (max-width: 600px) {
    .cardmbti {
        flex-direction: column; /* Change flex direction to stack cards vertically */
        gap: 20px; /* Reduce the gap between cards */
        justify-content: center; /* Центрираме по хоризонтала */
        align-items: center; /* Центрираме по вертикала */
    }

    .leftcard, .rightcard {
        width: 90%; /* Set cards to full width */
    }

    .rightcard {
        margin-top: 20px; /* Add margin to separate cards */
    }

    .leftcard .button-34 {
        float: none; /* Remove float */
        margin: 10px auto; /* Center align the button */
    }

    .specialimage {
        width: 100%; /* Set image width to full width */
    }

    .textSP {
        margin: 10px; /* Adjust margins */
    }
    .specialBar {
        display: none;
    }
    .procentBar {
        width: 100%;
    }
}
