/* Category Cards */
.category-card {
    cursor: pointer;
    padding: 1.4rem;
    gap: 1rem;
    min-width: 19.5%;
    opacity: 0.6;
}

.category-card.active {
    opacity: 1;
}

.category-card.all-projects {
    min-width: 12%; /* Narrower than the others (22.5%) */
}

.category-card i {
    font-size: 2.5rem;
}

.category-card h3 {
    margin: 0;
    font-size: 1.2rem;
}

/* Projects Grid */
.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    opacity: 0;
    animation: fadeUp 0.5s forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .projects-cards {
        grid-template-columns: 1fr;
    }
}

/* Project Card */
.project-card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .project-card {
        flex-direction: column;
    }
}

.project-card-left-section {
    font-size: 3rem;
}

.project-card-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-card-right-section-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: auto;
}

/* Project Language Tags */
.project-language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-language .language-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.project-language .language-name {
    margin: 0;
}