.cards, .slider, .cards-container, .card, .slider-button, .buttons, .contact, .top-inputs, .card-element {
    display: flex;
}

.slider-button, .buttons, .contact, .top-inputs {
    justify-content: center;
    align-items: center;
}

.cards-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.cards {
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: initial;
    }
    .cards .card {
        width: 100%;
        min-width: 100%;
        flex: initial;
        min-height: auto;
    }
    .cards-container {
        justify-content: flex-start!important;
    }
}

.card {
    padding: 20px;
    border: 1px solid var(--text-color-second);
    border-radius: 12px;
    box-shadow: var(--shadow-medium);
    backdrop-filter: blur(25px) saturate(119%);
    transition: var(--animation);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%; /* Заема само мястото на контейнера си, без да се надува излишно */
}

.slider-button {
    padding: 20px;
    border: 1px solid var(--text-color-second);
    border-radius: 12px;
    box-shadow: var(--shadow-medium);
    backdrop-filter: blur(25px) saturate(119%);
    transition: var(--animation);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card:hover, .slider-button:hover {
    background-color: var(--card-hover-color);
    backdrop-filter: blur(10px);
}

.card:hover {
    border: 1px solid var(--text-color);
}

.top-card-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cards .card .paragraph {
    flex: 1;
    margin-bottom: 0;
}


