.banner-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 3rem;
}

@media only screen and (min-width: 48rem) {
    .banner-column { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr max-content;
        column-gap: 4rem;
        margin-top: 3rem;
    }
}

.banner-background {
    width: 20rem;
    height: 20rem;
    background-color: var(--nav-color);
    border-radius: 0.5rem;
}

.banner-image {
    display: block;
    height: auto;
    margin-top: 2rem;
    justify-self: center;
}

@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 22rem;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 27rem;
        margin-right: 5rem;
    }
}

@media (max-width: 768px) {
    canvas#hero-section-animation {
        width: 100%;
    }
}

.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.75rem;
}